In [1]:
import pandas as pd
import os

In [2]:
staffs = pd.read_csv('../staging_1/staffs/staffs.csv')
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,source,timestamp_saved
0,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,DL,2024-05-02 09:24:15.003668
1,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,DL,2024-05-02 09:24:15.003668
2,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,DL,2024-05-02 09:24:15.003668
3,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,DL,2024-05-02 09:24:15.003668
4,6,Marcelene,Boyer,NaN,(516) 379-4445,1,2.0,5.0,DL,2024-05-02 09:24:15.003668
5,7,Venita,Daniel,venita.daniel@bikes.shop,NaN,1,2.0,5.0,DL,2024-05-02 09:24:15.003668
6,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,DL,2024-05-02 09:24:15.003668
7,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,DL,2024-05-02 09:24:15.003668
8,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,DL,2024-05-02 09:24:15.003668

In [3]:
file_path = '../Staging_2/Staffs/staffs.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
staffs.to_csv(file_path, index = False)