In [1]:
import pandas as pd
import os

In [2]:
stores = pd.read_csv('../staging_1/stores/stores.csv')
stores

,store_id,store_name,phone,email,street,city,state,zip_code,source,timestamp_saved
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,DL,2024-05-02 09:24:17.255685
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,DL,2024-05-02 09:24:17.255685
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,DL,2024-05-02 09:24:17.255685

In [3]:
file_path = '../Staging_2/Stores/stores.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
stores.to_csv(file_path, index = False)